@using DevExpress.AspNetCore
@using DevExpress.AspNetCore.Bootstrap

@{
    ViewData["Title"] = "Ошибка авторизации";
    Layout = "_Layout_Account";
}

<script type="text/javascript">

</script>

<div class="row justify-content-center align-items-center" style="height: 600px;">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <form class="form-horizontal" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <h3>Исключение</h3>
                                <p class="text-muted">@(Html.Raw(TempData["errorMessage"].ToString()))<br/>
                                Попробуйте вернуться и еще раз ввести логин и пароль</p>
                                <div class="row">
                                    <div class="col-6">
                                        @(Html.DevExpress()
                                                              .BootstrapButton()
                                                              .UseSubmitBehavior(true)
                                                              .Name("ReturnButton")
                                                              .Text("Вернуться")
                                                              .CssClasses(settings =>
                                                              {
                                                                  settings.Control("btn btn-primary px-4");
                                                              })
                                                              .SettingsBootstrap(settings => settings.RenderOption(BootstrapRenderOption.Primary))
                                        )
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>