@{
    ViewData["Title"] = "О системе";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в систему Assyst Helper</h1>
    <p>Система предназначена для автоматизации рутинных действий в ITSM Assyst</p>
</div>

